.chart {
  flex: 5;
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 10px;
  
  > .title {
    color: var(--text);
    margin-bottom: 10px;
  }

  .chart-grid {
    stroke: var(--secondary);
  }
}