.new {
  width: 100%;
  display: flex;

  > .container {
    flex: 1;

    > .top,
    > .bottom {
      background-color: var(--background);
      box-shadow: var(--shadow);
      padding: 20px 10px;
      margin: 20px;
      display: flex;

      > h1 {
        color: var(--title);
        font-size: 1.25rem;
      }

      > .left {
        flex: 1;
        text-align: center;

        > img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      > .right {
        flex: 2;

        > form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;
          color: var(--text);

          > div {
            width: 40%;

            > label {
              display: flex;
              align-items: center;
              gap: 10px;

              > .icon {
                cursor: pointer;
              }
            }

            > input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid var(--border);
              background-color: transparent;
            }
          }

          > button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: var(--secondary);
            color: var(--title);
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
    }
  }
}